<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">

    <title>Speech Recognition</title>
</head>
<body>
    <header>
        <h1>About</h1>
    </header>
    <nav class="nav-main">
        <a href="{{ url_for('index')}}">Home Page</a>
    </nav>
    <p>
        A speech recognition app made with flask, speech_recognition (Google's Speech-to-Text).
    </p>
</body>
</html>