{% extends "layout.html" %}
{% block content %}
<h3>About</h3> 
<br>
<p>
A speech recognition app made with flask, speech_recognition (Google's Speech-to-Text).
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium labore earum at, odio iste quo deserunt quasi. Dignissimos magnam quae neque corporis a nobis exercitationem eius cum. Explicabo, amet unde.</p>
<a href="https://github.com/zebra-f/Speech-Recognition-Flask-App" target="_blank">Source Code</a>
{% endblock content %}