{% extends "layout.html" %}
{% block content %}
<p>Under Construction</p>
<br>
<form action="/form" method="POST" enctype="multipart/form-data">
    <div class="email-input">
        <input type="email" name="email" id="input-email" placeholder="E-mail">
    </div>
    <br>
    <div class="message-input">
        <textarea name="message" id="input-message" maxlength="400" placeholder="Your message goes here">
        </textarea>
    </div>
    <br>
    <div class="button">
        <input type="submit" value="Send">
    </div>
</form>


{% endblock content %}