<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>Speech Recognition- {{title}}</title>
    {% else %}
    <title>Speech Recognition</title>
    {% endif %}

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">

    <!--- font --->
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap" rel="stylesheet">
    
</head>
<body>
    <header>
        <h1 class="logo">Speech Recognition</h1>
        <nav>
            <ul class="nav-links">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <div class="content-1">
            <section>
                {% block content %}
                {% endblock content %}
            </section>
        </div>
        
        <div class="content-2">
            <p>Speech to Text</p>
            <p>a Flask App</p>
        </div>  
    </main>
    
    <footer>
        <p>by Rafal Zebrowski, more projects: <a href="https://github.com/zebra-f" target="_blank">GitHub</a></p>
    </footer>
    
</body>
</html>