body {
    margin: 0;
    background: rgb(175, 127, 199);
    font-family: Karla;

    display: grid;
    height: 100vh;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "header"                   
    "main"                       
    "footer";
}
header {
    background: rgb(112, 236, 139);
    grid-area: header;
}
main {
    background: deepskyblue;
    grid-area: main;

    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    grid-template-areas:
    "content-1 content-2"
}
.content-1 {
    background: ghostwhite;
    grid-area: content-1;
}
.content-2 {
    background: grey;
    grid-area: content-2;
}
footer {
    background: rgb(212, 61, 200);
    grid-area: footer;
}
@media screen and (max-width:700px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "content-1"
        "content-2";
    }
    .content-1 {
        grid-area: content-1;
    }
    .content-2 {
        grid-area: content-2;
    }
}